.setting {
  flex: 0 0 auto;
  inline-size: 24px;
  block-size: 24px;
  position: relative;
  border: 4px solid var(--themeBaseColor);
  animation: breathSet 2s ease-in-out 0.5s infinite alternate-reverse both;
  &.active {
    & .sFake {
      transform: translate(100%, 100%);
    }
  }
}
.sToggle {
  display: block;
  block-size: 100%;
  cursor: pointer;
}
.sFake {
  position: absolute;
  inline-size: 50%;
  block-size: 50%;
  transition: transform 0.2s ease;
  animation: breathItem 2s ease-in-out infinite alternate-reverse both;
}
@keyframes breathSet {
  0% {
    border-color: transparent;
  }
  100% {
    border-color: var(--themeBaseColorTint20);
  }
}
@keyframes breathItem {
  0% {
    background: transparent;
  }
  100% {
    background: var(--themeBaseColorTint20);
  }
}
