#root {
  block-size: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 120px auto;
  grid-template-rows: 100%;
  grid-auto-flow: column;
}
.bk-aside {
  position: relative;
  backdrop-filter: blur(5px);
}

.bk-section {
  position: relative;
}


