#root {
  block-size: 100vh;
  overflow: hidden;
  background: white;
}
.bk-header {
  position: relative;
  block-size: 150px;
  background: #215;
  background-image: linear-gradient(to bottom, rgba(119, 17, 85, 0.5), transparent);
}

.bk-section {
  position: relative;
  margin-block-start: 50px;
  height: calc(100% - 200px);
}


